/*==========================================================
font-size
===========================================================*/
@for $i from 10 through 30 {
  .fz#{$i} {
    @include rem("font-size", $i);
  }
}

/*==========================================================
margin padding set
===========================================================*/
$every: 5;
@for $i from 0 through 10 {
  .pd#{$i * $every} {
    @include rem("padding", $i * $every);
  }
  .pd-t#{$i * $every} {
    @include rem("padding-top", $i * $every);
  }
  .pd-b#{$i * $every} {
    @include rem("padding-bottom", $i * $every);
  }
  .pd-l#{$i * $every} {
    @include rem("padding-left", $i * $every);
  }
  .pd-r#{$i * $every} {
    @include rem("padding-right", $i * $every);
  }
  .mg#{$i * $every} {
    @include rem("margin", $i * $every);
  }
  .mg-t#{$i * $every} {
    @include rem("margin-top", $i * $every);
  }
  .mg-b#{$i * $every} {
    @include rem("margin-bottom", $i * $every);
  }
  .mg-l#{$i * $every} {
    @include rem("margin-left", $i * $every);
  }
  .mg-r#{$i * $every} {
    @include rem("margin-right", $i * $every);
  }
}

/*==========================================================
min-height/min_width
===========================================================*/
$every: 100;
@for $i from 0 through 10 {
  .mh#{$i * $every} {
    @include rem("min-height", $i * $every);
  }
  .mw#{$i * $every} {
    @include rem("min-width", $i * $every);
  }
}

/*==========================================================
bg-color
===========================================================*/
@each $modifier, $color in $red {
  .bg_red-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $pink {
  .bg_pink-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $purple {
  .bg_purple-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $deep-purple {
  .bg_dp-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $indigo {
  .bg_indigo-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $blue {
  .bg_blue-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $light-blue {
  .bg_lb-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $cyan {
  .bg_cyan-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $teal {
  .bg_teal-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $green {
  .bg_green-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $light-green {
  .bg_lg-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $lime {
  .bg_lime-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $yellow {
  .bg_yellow-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $amber{
  .bg_amber-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $orange {
  .bg_orange-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $deep-orange {
  .bg_do-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $brown {
  .bg_brown-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $grey {
  .bg_grey-#{$modifier} {
    background: $color;
  }
}
@each $modifier, $color in $blue-grey {
  .bg_bg-#{$modifier} {
    background: $color;
  }
}

/*==========================================================
grid system
===========================================================*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* nested grids */
.row .row, .row.nested {
  flex: 1 1 auto;
}

/* center grids */
.row.center {
  justify-content: center;
}

@mixin col() {
  flex: 1 1;
  margin: 0;
  padding: 0;
}

.col {
  @include col();//同列のbox要素の中で固定幅のものがあった場合
}

/* 少数グリッド中央寄せ */
@for $i from 1 through 12 {
  .center .col-#{$i} {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .center .col-sm-#{$i} {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .center .col-md-#{$i} {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .center .col-lg-#{$i} {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .center .col-xl-#{$i} {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

/* レスポンシブ幅以上で横幅100% */
.col-sm {
  flex-basis: 100%;
  max-width: 100%;
  @include respond(sm) {
    @include col();
  }
}

.col-md {
  flex-basis: 100%;
  max-width: 100%;
  @include respond(md) {
    @include col();
  }
}

.col-lg {
  flex-basis: 100%;
  max-width: 100%;
  @include respond(lg) {
    @include col();
  }
}

.col-xl {
  flex-basis: 100%;
  max-width: 100%;
  @include respond(xl) {
    @include col();
  }
}

/* columns widths */
.col-1 {
  @include col();
  flex-basis: 8.3333%;
  max-width: 8.3333%;
}

.col-sm-1 {
  @include col();
  flex-basis: 8.3333%;
  max-width: 8.3333%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-1 {
  @include col();
  flex-basis: 8.3333%;
  max-width: 8.3333%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}


.col-lg-1 {
  @include col();
  flex-basis: 8.3333%;
  max-width: 8.3333%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-1 {
  @include col();
  flex-basis: 8.3333%;
  max-width: 8.3333%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}


.col-2 {
  @include col();
  flex-basis: 16.6666%;
  max-width: 16.6666%;
}

.col-sm-2 {
  @include col();
  flex-basis: 16.6666%;
  max-width: 16.6666%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-2 {
  @include col();
  flex-basis: 16.6666%;
  max-width: 16.6666%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-2 {
  @include col();
  flex-basis: 16.6666%;
  max-width: 16.6666%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-2 {
  @include col();
  flex-basis: 16.6666%;
  max-width: 16.6666%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-3 {
  @include col();
  flex-basis: 25%;
  max-width: 25%;
}

.col-sm-3 {
  @include col();
  flex-basis: 25%;
  max-width: 25%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-3 {
  @include col();
  flex-basis: 25%;
  max-width: 25%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-3 {
  @include col();
  flex-basis: 25%;
  max-width: 25%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-3 {
  @include col();
  flex-basis: 25%;
  max-width: 25%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-4 {
  @include col();
  flex-basis: 33.3333%;
  max-width: 33.3333%;
}

.col-sm-4 {
  @include col();
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-4 {
  @include col();
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-4 {
  @include col();
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-4 {
  @include col();
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-5 {
  @include col();
  flex-basis: 41.6666%;
  max-width: 41.6666%;
}

.col-sm-5 {
  @include col();
  flex-basis: 41.6666%;
  max-width: 41.6666%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-5 {
  @include col();
  flex-basis: 41.6666%;
  max-width: 41.6666%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-5 {
  @include col();
  flex-basis: 41.6666%;
  max-width: 41.6666%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-5 {
  @include col();
  flex-basis: 41.6666%;
  max-width: 41.6666%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-6 {
  @include col();
  flex-basis: 50%;
  max-width: 50%;
}

.col-sm-6 {
  @include col();
  flex-basis: 50%;
  max-width: 50%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-6 {
  @include col();
  flex-basis: 50%;
  max-width: 50%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-6 {
  @include col();
  flex-basis: 50%;
  max-width: 50%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-6 {
  @include col();
  flex-basis: 50%;
  max-width: 50%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-7 {
  @include col();
  flex-basis: 58.3333%;
  max-width: 58.3333%;
}

.col-sm-7 {
  @include col();
  flex-basis: 58.3333%;
  max-width: 58.3333%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-7 {
  @include col();
  flex-basis: 58.3333%;
  max-width: 58.3333%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-7 {
  @include col();
  flex-basis: 58.3333%;
  max-width: 58.3333%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-7 {
  @include col();
  flex-basis: 58.3333%;
  max-width: 58.3333%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-8 {
  @include col();
  flex-basis: 66.6666%;
  max-width: 66.6666%;
}

.col-sm-8 {
  @include col();
  flex-basis: 66.6666%;
  max-width: 66.6666%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-8 {
  @include col();
  flex-basis: 66.6666%;
  max-width: 66.6666%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-8 {
  @include col();
  flex-basis: 66.6666%;
  max-width: 66.6666%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-8 {
  @include col();
  flex-basis: 66.6666%;
  max-width: 66.6666%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}
.col-9 {
  @include col();
  flex-basis: 75%;
  max-width: 75%;
}

.col-sm-9 {
  @include col();
  flex-basis: 75%;
  max-width: 75%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-9 {
  @include col();
  flex-basis: 75%;
  max-width: 75%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-9 {
  @include col();
  flex-basis: 75%;
  max-width: 75%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-9 {
  @include col();
  flex-basis: 75%;
  max-width: 75%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}
.col-10 {
  @include col();
  flex-basis: 83.3333%;
  max-width: 83.3333%;
}

.col-sm-10 {
  @include col();
  flex-basis: 83.3333%;
  max-width: 83.3333%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-10 {
  @include col();
  flex-basis: 83.3333%;
  max-width: 83.3333%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-10 {
  @include col();
  flex-basis: 83.3333%;
  max-width: 83.3333%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-10 {
  @include col();
  flex-basis: 83.3333%;
  max-width: 83.3333%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}
.col-11 {
  @include col();
  flex-basis: 91.6666%;
  max-width: 91.6666%;
}

.col-sm-11 {
  @include col();
  flex-basis: 91.6666%;
  max-width: 91.6666%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-11 {
  @include col();
  flex-basis: 91.6666%;
  max-width: 91.6666%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-11 {
  @include col();
  flex-basis: 91.6666%;
  max-width: 91.6666%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-11 {
  @include col();
  flex-basis: 91.6666%;
  max-width: 91.6666%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-12 {
  @include col();
  flex-basis: 100%;
  max-width: 100%;
}

.col-sm-12 {
  @include col();
  flex-basis: 100%;
  max-width: 100%;
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-md-12 {
  @include col();
  flex-basis: 100%;
  max-width: 100%;
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-lg-12 {
  @include col();
  flex-basis: 100%;
  max-width: 100%;
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.col-xl-12 {
  @include col();
  flex-basis: 100%;
  max-width: 100%;
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.sm-100 {
  @include respond(sm) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.md-100 {
  @include respond(md) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.lg-100 {
  @include respond(lg) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.xl-100 {
  @include respond(xl) {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
  }
}




/*==========================================================
common tags
===========================================================*/
.flex {
  display:flex;
}
.section-content {
  margin-left: auto;
  margin-right: auto;
  max-width: $g-xl;
  @include respond(lg) {
    max-width: $g-lg;
    @include rem("margin-left", 20);
    @include rem("margin-right", 20);
  }
  @include respond(md) {
    max-width: $g-md;
    // @include rem("padding-left", 20);
    // @include rem("padding-right", 20);
  }
  @include respond(sm) {
    max-width: $g-sm;
    // @include rem("padding-left", 20);
    // @include rem("padding-right", 20);
  }
}
